*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    cursor: pointer;
    &:hover{
        text-decoration: none;
    }
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

