* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h5, h6 {
  margin: 0;
  padding: 0;
}

.bg-black {
  background-color: #000;
}

.bg-primary {
  background-color: #ff214f;
}

.bg-gray {
  background-color: #333;
}

.primary-button {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  background-color: #ff214f;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.primary-button:hover {
  background-color: transparent;
  color: #ff214f;
  border: 1px solid #ff214f;
}

.secondary-button {
  color: #ff214f;
  font-size: 16px;
  font-weight: 400;
}

.secondary-button svg {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 14px;
}

.secondary-button:hover {
  color: #ff214f;
}

.secondary-button:hover svg {
  margin-left: 5px;
}

.main-heading {
  font-size: 44px;
  color: #333;
  margin-bottom: 30px;
}

.main-heading.bolder {
  font-weight: 500;
}

.main-heading.text-center {
  text-align: center;
}

.description {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-normal {
  font-size: 14px;
  font-weight: 400;
}

.white-color {
  color: white;
}

.gray-color {
  color: #6f6f6f;
}

.bg-primary {
  background-color: #ff214f;
}

.has-padding {
  padding: 60px 50px;
}

.top-bar {
  width: 100%;
  height: 60px;
  padding: 0px 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.top-bar ul {
  margin-left: 10px;
}

.top-bar ul li {
  margin: 0px 5px;
}

.top-bar ul li i {
  font-size: 14px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.top-bar ul li i:hover {
  color: #ff214f;
}

.top-bar a {
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
}

.top-bar a:hover {
  color: #ff214f;
}

.top-bar .donation-container .donte-button {
  background-color: #ff214f;
  color: #fff;
  margin-left: 10px;
  padding: 20px 10px;
}

header {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 999;
  padding: 0px 80px;
  width: 100%;
}

header nav {
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  width: 120px;
  height: auto;
}

header nav .logo img {
  width: 100%;
}

header nav .navbar ul li {
  margin: 0px 20px;
}

header nav .navbar ul li a {
  color: #fff;
  font-weight: 500;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

header nav .navbar ul li a:hover {
  color: #ff214f;
}

.hero {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.hero img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  height: 100%;
}

.hero .hero-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.hero .hero-info h1 {
  font-size: 75px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.76);
  line-height: 85px;
}

.hero .hero-info h1 span {
  color: #ff214f;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper .swiper-pagination {
  bottom: 40px;
}

.swiper .swiper-pagination-bullet {
  width: 25px;
  height: 25px;
  border: 5px solid #ff214f;
  background-color: transparent;
}

.image-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  height: 400px;
  margin-top: 30px;
}

.image-text-container .image-container {
  width: 50%;
  overflow: hidden;
  padding: 5px 5px;
  position: relative;
}

.image-text-container .image-container:before {
  content: '';
  display: block;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6f6f6f;
  z-index: -1;
}

.image-text-container .image-container:after {
  content: '';
  display: block;
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #6f6f6f;
  z-index: -1;
}

.image-text-container .image-container img {
  width: 90%;
  height: auto;
  display: block;
}

.image-text-container .image-container .image-gradient {
  position: absolute;
  top: 4px;
  bottom: 10px;
  height: 100%;
  width: 100%;
  background: white;
  background: linear-gradient(32deg, rgba(255, 255, 255, 0) 0%, white 100%);
}

.image-text-container .text-container {
  width: 50%;
  text-align: center;
}

.image-text-container .text-container .primary-button {
  margin-top: 30px;
}

.card {
  padding: 100px 0px;
  background-color: #333;
}

.card .uk-card-body {
  border: 2px solid #fff;
  text-align: center;
  color: #fff;
  background-color: #333;
  position: relative;
}

.card .uk-card-body .uk-card-title {
  color: #fff;
  font-weight: 500;
}

.card .uk-card-body p {
  font-weight: 300;
  text-align: center;
}

.bg-full-image {
  height: 70vh;
  background-image: url("/assets/images/bg.jpg");
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-full-image .text-content {
  text-align: center;
}

.bg-full-image .text-content h2 {
  font-size: 66px;
  font-weight: 500;
  margin: 0px;
  color: #fff;
}

.bg-full-image .text-content p {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

.donate-banner {
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donate-banner p {
  font-size: 33px;
  font-weight: 600;
}

.donate-banner p a {
  color: #ffee21;
  text-decoration: underline;
}

footer {
  background-color: #ff214f;
  padding: 80px 10px;
  height: auto;
}

footer .footer-content {
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-content .footer-columns {
  max-width: 600px;
  color: white;
}

footer .footer-content .footer-columns h5 {
  color: #ffee21;
  font-size: 18px;
  font-weight: 500;
}

footer .footer-content .footer-columns p {
  font-weight: 100;
  line-height: 35px;
}

footer .footer-content .footer-columns h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

footer .footer-content .footer-columns .about-footer h2 {
  font-size: 33px;
}

footer .footer-content .footer-columns .quick-links ul li {
  margin-top: 10px;
}

footer .footer-content .footer-columns .quick-links ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

footer .footer-content .footer-columns .quick-links ul li a svg {
  height: 14px;
}

footer .footer-content .footer-columns .contact .details {
  margin-top: 10px;
  gap: 10px;
}

footer .footer-content .footer-columns .contact .details .icon-box {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-content .footer-columns .contact .details .icon-box svg {
  color: #333;
  width: 25px;
  height: auto;
}

footer .footer-content .footer-columns .contact .details .details-desc p {
  margin: 0;
}

footer .footer-content .footer-columns .bank-details h6 {
  color: #fff;
  margin: 6px 0px;
  font-size: 18px;
  font-weight: 500;
}

footer .footer-content .footer-columns .bank-details h6 span {
  font-weight: 100;
}

footer .footer-content .footer-columns .bank-details .social-icons svg {
  margin-left: 10px;
  color: #fff;
}
